<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLiQuanCafe.Properties.Settings.CoffeeManagementConnectionString"
            connectionString="Data Source=MHUY-PC\MHUY;Initial Catalog=CoffeeManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLiQuanCafe.Properties.Settings.QuanLiQuanCafeConnectionString"
            connectionString="Data Source=DESKTOP-IG7IPCN\SQLEXPRESS;Initial Catalog=QuanLiQuanCafe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLiQuanCafe.Properties.Settings.CoffeeManagementConnectionString1"
            connectionString="Data Source=DESKTOP-UVQ597Q;Initial Catalog=CoffeeManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLiQuanCafe.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-UVQ597Q;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>